body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

header {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(212, 255, 18, 0.1);
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.search-bar {
  float: right;
  margin-top: 10px;
}

.banner {
  height: 200px;
  background-image: url("banner.png");
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.sidebar {
  float
